video {
    transform: rotateY(180deg);
}

.select {
    height: 30px;
}

.h-90 {
    height: 90% !important;
}

.h-10 {
    height: 10% !important;
}

#peerVideo:hover {
    opacity: 0.6;
    cursor: pointer;
}
.fix{
  height: 300px;
  weight: 400px;
  position: absolute;
}
.fixpeer{

  height: 300px;
  weight: 400px;
  position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
